# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
- Listing popular languages
- Listing common libraries
- Listing common tools
- Showing basic arithmetic in python

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Scala
1. Julia

Some of the commony used libraries used by Data Scientists include:
1. Pandas
1. Numpy
1. TensorFlow
1. Plotly
1. Ggplot2

|Data Science Tools|
|:-:|
|Jupyter Notebook|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Donald Medders